#site__body {

    .map__wrapper {
        margin: 0 0 $mp-triple 0;
        overflow: hidden;

        img{
            position: relative;
            top: 2px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

#contact-us{
    color: $dark;

    .jumbotron {
        margin: 0;

            @include mediaQuery--min($bp-sm) {margin: $mp-double;}
    }

    .contact-us__column{
        text-align: center;
        margin-bottom: $mp-triple;
            
            h3{margin: $mp-double 0;}
    }
}