

#dentist-portrait-1 {
    border-bottom: 10px solid $primary-color;
}

#dentist-portrait-2 {
    border-bottom: 10px solid $secondary-color;
}

#dentist-portrait-3 {
    border-bottom: 10px solid $contrast-color;
}