
#site__body {

    #main-page__carousel {
        max-height: 800px;
        overflow: hidden;
    }

    .carousel-indicators {}

    .carousel-inner {}

    .item{}

    .item > img {
        width: 100%;
    }

}