

#site__body {

    .affixed__scroll-spy {
        @extend .navbar;
        right: 50px;
        display: none;

            @include mediaQuery--min($bp-md){
                display: block;
            }

            ul {}

            ul > li {
            }

            ul > li > a {
                display: inline-block;
                color: darken($secondary-color, 30%);
                text-transform: capitalize;
                opacity: 0;
                transition: opacity 0.25s;
                //font-weight: bold;
            }

            span {
                color: darken($secondary-color, 30%);
                position: relative;
                top: 2px;
            }

            ul > li.active > a{
                background: none;
                opacity: 1;
            }

            ul > li.active > span{
                @extend .icon-circle !optional;
            }
    }
}