/*===========================
        MIXINS
=============================*/

/* color themes
-------------------------*/

@mixin colorTheme__base{
    background: $light;
    color: $primary-color;
}

@mixin colorTheme__base--invert{
    background: $primary-color;
    color: $light;
}

@mixin colorTheme__alt{
    background: $light;
    color: $secondary-color;
}

@mixin colorTheme__alt--invert{
    background: $secondary-color;
    color: $light;
}

@mixin colorTheme__contrast{
    background: $light;
    color: $contrast-color;
}

@mixin colorTheme__contrast--invert{
    background: $contrast-color;
    color: $light;
}

/* padding and mixins
-------------------------*/

@mixin paddingCol--inc($size: $mp-double){
    padding: 0px $size;
}

@mixin paddingCol--sm($size: $mp-sm){
    padding: 0px $size;
}

@mixin marginRow--inc($size: $mp-double){
    margin: $size 0px;
}

@mixin marginRow--sm($size: $mp-sm){
    margin: $size 0px;
}

/* media query
-------------------------*/

@mixin mediaQuery--min($size){
    @media screen and (min-width: $size){
        @content;
    }
}

@mixin mediaQuery--max($size){
    @media screen and (max-width: $size){
        @content;
    }
}

/* font themes
-------------------------*/

@mixin font-family--base(){
    h1{
        font-family: $font-family-logo;
    }

    h2, h3, h3{
        font-family: $font-family-heading;
    }

    p, li, a{
        font-family: $font-family-paragraph;
    }
}

// catergory blocks custom
//-------------------------

@mixin catergory-blocks--color($color){
    color: $light;
    background-color: rgba($color, 0.7);
    border-bottom: 10px solid $color;
}