#site__body{

    .bar__color{
        height: 20px;
    }

    .bar__color--right{
        background: $contrast_color;
    }

    .bar__color--center{
        background: $secondary_color;
    }

    .bar__color--left{
        background: $primary_color;
    }
}