#site__body {

    .section__wrapper--bg {
        background-color: $secondary-color;
    }

    .section {
        @extend .container-fluid;
        padding-bottom: $mp-triple;
    }

    .section--inverted {
        @include colorTheme__alt--invert;
        position: relative;

            .section__jumbotron {@extend .jumbotron--invert;}

            .jumbotron__square{background-color: $light;}
    }


        .section__jumbotron {}

            .jumbotron__title {}

                .jumbotron__square {}

        .inner__section--invert {
            @include make-row;
            background-color: rgba($secondary-color, 0.9);
            color: $light;
            min-height: 660px;
            padding-bottom: ($mp-triple + $mp-double);

                .full-stop {background: $light;}

                a {
                    text-decoration: none;
                    color: $light;
                }

                h3 {
                    font-family: $font-family-paragraph;
                    margin: $mp-double 0;
            }
        }

            .section__title {@extend .container;}

                .section__content {@include make-row;}

                    .section__figure {
                        text-align: center;
                        margin-bottom: 60px;
                    }

                        .figure__img {
                            max-height: 250px;
                        }

                        .figure__figcaption {}

                            .figure__figcaption__title {
                                color: $dark;

                                    small {
                                        color: rgba($dark, 0.7);
                                    }
                            }

                    .section__content__column {
                        padding: 0px $mp-double;

                            @include mediaQuery--min($bp-sm){padding: 0px 25px;}
                    }


}